header {
  padding-top: 120px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

h2 {
  margin-top: 5px;
}