nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
}

nav span {
  font-family: "Bungee", sans-serif;
}

nav span {
  display: flex;
  margin-left: 1.5em;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5em; 
}