nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;  
  width: 100%;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-top: 0px;
  border-left: 0px;
}

nav span { 
  font-family: "Bungee", sans-serif;
}

.tweet-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: #eb0a0a;
  margin-top: 0.2em;
}
