.new-tweet {
  display: flex;
  flex-direction: column;  
  width: inherit;
}

#tweet-text {
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
}

.btn-tweet {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.counter {
  font-family: "Bungee", sans-serif;
}

.submit-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
}

.tweet {
  display: flex;
  flex-direction: column;
}

section h2 {
  display: flex;
  justify-content: center;
}

#tweet-text {
  margin-top: 10px;
  height: 40px;
}

.counter-red {
  color: red;
}