.new-tweet {
  display: flex;
  flex-direction: column;  
  width: inherit;
}

#tweet-text {
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
}

button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.submit-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.tweet {
  display: flex;
  flex-direction: column;
}

/* .new { */
section h2 {
  display: flex;
  justify-content: center;
}